.button {
  color: white;
  margin: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.blank {
  padding-bottom: 20px;
}

.downyeartitle {
  text-align: center;
}

.firstsem {
  border-right: 1px solid black;
}

.common {
  border-bottom: 1px solid gray;
}

.liture {
  text-align: center;
}

.math1 {
  text-align: center;
}
